@model WebAppDP.Models.LoginViewModel
@{
    Layout = null;
}


<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Account Register</title>

    <!-- fontawsome icons-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

    <!-- Bootstrap & jquery -->
    <link rel="stylesheet" href="~/assets/css/style-liberty.css">
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
    <!--header-->
    <section class="w3l-header">
        <header id="site-header" class="fixed-top">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark stroke">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                        <!-- Icon Logo website, menggunakan Icons dari fontawesome -->
                        <span class="fas fa-print"></span> DigitalPrint
                    </a>
                    <!-- Button toggler untuk navigasi bar ketika user melakukan resizing halaman website -->
                    <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                        <span class="navbar-toggler-icon fa icon-close fa-times"></span>

                    </button>
                    <!-- Bagian navigasi bar -->
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="@Url.Action("Index", "Home")">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item contact-active">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                            <li class="nav-item login-active">
                                <a class="nav-link" href="@Url.Action("LoginView", "Account")">Login</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Bagian toggle Switch dark theme atau light theme -->
                    <div class="mobile-position">
                        <label class="theme-selector">
                            <input type="checkbox" id="themeToggle">
                            <i class="gg-sun"></i>
                            <i class="gg-moon"></i>
                        </label>
                    </div>
                </nav>
            </div>
        </header>
    </section>

    <!-- Login breadcrumbs -->
    <nav id="breadcrumbs" class="breadcrumbs">
        <div class="container page-wrapper text-center">
            <div class="header-section">
                <h2 class="mb-2">Verifikasi Account</h2>
            </div>
        </div>
    </nav>

    <section class="w3l-account py-5">
        <!-- login -->
        <div class="container py-lg-3">
            <div class="literacy-login">
                <div class="literacy-login-info">
                    <h2>Verifikasi Account</h2>
                    @using (Html.BeginForm("VerificationAct", "Account", FormMethod.Post))
                    {
                        // @Html.AntiForgeryToken()
                        <label>Username</label>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @readonly = "readonly", id = "username", name = "username", @Value = ViewBag.Usernames })
                        </div>
                        <p>Akun Anda Belum di Verifikasi, cek email anda untuk mendapatkan code </p>
                        <label>Verification Code</label>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.VerificationCode, new { @class = "form-control", id = "codeVerif", name = "codeVerif", autofocus = "autofocus", required = "" })
                        </div>

                        <button class="btn btn-primary theme-button btn-login" type="submit">Verifikasi</button>
                        @*<p class="account1">Resend Verification Code? <a href="@Url.Action("ResendCode", "Account", new { userName = ViewBag.Usernames})">Resend</a></p>*@
                        <p class="account1">Resend Verification Code? <a href="javascript:void(0);" onclick="resendVerification()">Resend</a></p>

                    }

                    <p class="account1">Already have Account? <a href="@Url.Action("LoginView", "Account")">Sign In</a></p>

                    <script>
                        function resendVerification() {
                            var username = document.getElementById('username').value;

                            var xhr = new XMLHttpRequest();
                            xhr.open('POST', '@Url.Action("ResendCode", "Account")');
                            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

                            xhr.onload = function () {
                                if (xhr.status === 200) {
                                    var response = JSON.parse(xhr.responseText);
                                    if (response.success) {
                                        alert(response.message);
                                    } else {
                                        alert("Failed to resend verification code.");
                                    }
                                } else {
                                    alert("An error occurred while resending verification code.");
                                }
                            };

                            xhr.send("userName=" + encodeURIComponent(username));
                        }
                    </script>


                </div>
            </div>
        </div>
    </section>

    <script src="~/assets/js/jquery-1.9.1.min.js"></script>

    <!--theme switcher dark and light mode script-->
    <script>
        const bodyElement = document.querySelector('body');
        const themeToggle = document.querySelector('#themeToggle');
        const darkModeMql = window.matchMedia('(prefers-color-scheme: dark)');

        const currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : userPreference(darkModeMql);

        if (currentTheme) {
            bodyElement.classList.add(currentTheme);

            if (currentTheme === 'dark') {
                themeToggle.checked = true;
            }
        }

        function userPreference(e) {
            if (e.matches) {
                bodyElement.classList.add("dark");
                return "dark"
            } else {
                bodyElement.classList.remove("dark");
                return ""
            }
        }

        darkModeMql.addListener(userPreference);

        function themeSwitcher(e) {
            if (e.target.checked) {
                bodyElement.classList.add('dark');
                localStorage.setItem('theme', 'dark');
            } else {
                bodyElement.classList.remove('dark');
                localStorage.setItem('theme', '');
            }
        }

        themeToggle.addEventListener('change', themeSwitcher);
    </script>
    <!--//theme switcher dark and light mode script-->
    <!-- Bootstrap JS -->
    <script src="~/assets/js/bootstrap.min.js"></script>

</body>

</html>

